
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";

@import "./check/check";

@import "./base/base";
@import "./base/typography";

// @import "./components/buttons";
// @import "./components/like-heart";

.color-visible {
   columns: $grayscale-1 ;
   columns: $grayscale-2 ;
   columns: $grayscale-3 ;
   columns: $grayscale-4 ;
}

/*** ||| HOME PAGE ||| ***/
//@import "./pages/home";
@import "./layouts/header";
@import "./layouts/find-a-place";
@import "./layouts/discovery";
@import "./layouts/explanation";
@import "./layouts/restaurants";
@import "./layouts/footer";




//@import "./check/test";




//@import "./utils/variables";
//@import "./utils/functions";
//@import "./utils/extensions";
//@import "./base/typography";
//@import "./components/buttons";
//@import "./layouts/nav";
//@import "./layouts/container";
//@import "./layouts/form";
//@import "./pages/work";
//@import "./pages/about";
//@import "./pages/project";


