$font-size_order-btn: 1rem;
$btn_desired-expansion: 0.15em;

button {
    font-size: 1em;
    transition: all  0.3s;
    &:hover {
    @include hover-links;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-size: calc($font-size_order-btn + $btn_desired-expansion);
    margin: calc($btn_desired-expansion / -2);
    transition: all  0.3s;
    }
}

input:hover, a:hover {
    @include hover-links;
   
    &[class$="research"]:hover {
        cursor: text;
    }
}



