

$heart_font-size: 1rem;
$heart_desired-expansion: 0.2em; /* USE em or rem | Enlargement desired in addition than the original size */

.restaurants {
    &__card:hover {
        & [class="heart"] {
           /*  background: white;
            padding: 10rem;
            clip-path: circle(4%);   */       
        }
    }

    label {
        z-index: 5;
        position: absolute;
       
        display: block;
        padding: 0;
        margin: 0;
        height: 0;
        width:0;

    }

    &__heart-like {
        z-index: 5;
        position: absolute;
        right: 2rem;
        bottom: 2rem;
       
        opacity: 1 !important;
        background: red;
        height: 0;
        width: 0;       
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 0.4rem 0;
        clip-path: circle(45%); */
    }

    &__like {
        height: 0;
        width: 0;  
        opacity: 0;
        visibility: collapse;
    } 

    &__heart {
        display: flex;
        flex: auto;
        align-items: center;
        vertical-align: middle;
        font-size: $heart_font-size;
        font-weight: 100 !important;
        text-align: center;
        /* width: 100%;
        height: initial; */
        margin-top: 0.0em;
        transition:  0.4s ease-in-out, color 1s ease-in-out;
        /* background: $color-background_main; */
       /*  padding: 0.5rem;
        clip-path: circle(45%); */
        /* margin-top: 0; */
       /*  background: blue; */
        
        
        /* &:hover {
            cursor: pointer; 
            transform: scale(1.25);
           
        }   */
    }

    &__like + .heart [class$="heart"] {
        
       /*  padding: 5rem; */
        /* padding-top: 5.2rem; */
        /* clip-path: circle(6%); */
        /* background: violet; */
        
        &:hover {
           transform-origin: 50% 50%;
           /*  background: blueviolet; */
            cursor: pointer; 
            transform: scale(1.25);
        }   
    }
   

    &__like:checked + .heart [class$="heart"] {
              
        font-weight: 900 !important;        
        background: $color-icons-heart-like;
        background-clip: text;        
        -webkit-background-clip: text;
        color: transparent;

    }
  
    &__circle {
        z-index: 3;
        position: absolute;
        padding: 0.8rem;
        margin: -3.27rem;
        margin-bottom: -3.45rem;
        right: 2rem;
        bottom: 2rem; 
        background: $color-background_main;
        //background: green;
        border-radius: 50%;

        /* clip-path: circle(20%); */


        @media (min-width: 768px) {
           
        
            @media (min-width:1024px) {
               /*  right: 2rem;
                bottom: 2rem; */ 
            }
        }

    }
    


    
    // OPACITY //

   /*  
    &__heart-like {
        &--opacity {
            display: flex;
        }
  
        &__like--opacity {
          height: 0;
          width: 0;  
          opacity: 0;      
        } 
  
        &__heart--opacity {
           color: $color-font__main;
           font-size: $heart_font-size;
           font-weight: 100 !important;
           text-align: center;
           width: 1.1em;
           transition:  0.4s ease-in-out, color 1s ease-in-out;
          
            &:hover {
                cursor: pointer; 
                transform: scale(1.2);
            }   
        }
       
  
        &__like:checked--opacity + .heart--opacity [class$="heart--opacity"] {
                
            font-weight: 900 !important;        
            background: $color-icons-heart-like;
            background-clip: text;        
            -webkit-background-clip: text;
            color: transparent;
        } 
    }   */
}


    

/* i {
    display: block;
    justify-content: center;
    align-items: center;
} */