
.restaurants {
    
    &__heart-like {
      display: flex;
    }

    &__like {
        height: 0;
        width: 0;        
    } 

    &__heart {
        color: $color-font__main;
        font-size: 1rem;
        font-weight: 100 !important;
        text-align: center;
        width: 1.1em;
        transition:  0.4s, color 1s;
        &:hover {
           cursor: pointer; 
           font-size: 1.2em;
       }   
    }

    &__like + .heart [class$="heart"] {
           
        /* transition: background 0.9s; */
    }     

    &__like:checked + .heart [class$="heart"] {
              
        font-weight: 900 !important;        
        background: $color-icons-heart-like;
        background-clip: text;        
        -webkit-background-clip: text;
        color: transparent;
    }    

}    

