 
* {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center; 
}

body {
    flex: auto; 
    margin: 0;
    max-width: 1440px;
    /* width: 100%; */
}

img {
    object-fit: cover;
    [class*="heart"], [src$=".svg"] {
        background-size: none;
    }

}



//.main-container {
//    display: flex;
//    flex-direction: column;
//    flex: auto;
//    /* width: 100%; */
//    max-width: 1440px;
//   /*  padding: 0 50px; */
//    box-sizing: border-box;
//}










