 
* {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center; 
}

body {
    flex: auto; 
    margin: 0;
    max-width: 1440px;
    /* width: 100%; */
}

img {
    object-fit: cover;
    &[class*="heart"], &[src$=".svg"] {
        background-size: none;
    }

    &[src*="restaurants"] {
        /* object-fit: cover; */
        /* background-size: cover; */
        
   /*  clip-path: circle(200px at 50% 60%); */
    /* margin-top: -2em; */
    /* margin-bottom: -2em; */

   /*  overflow: hidden;
    margin-top: -5em;
 */
    }
}



//.main-container {
//    display: flex;
//    flex-direction: column;
//    flex: auto;
//    /* width: 100%; */
//    max-width: 1440px;
//   /*  padding: 0 50px; */
//    box-sizing: border-box;
//}










