* {
    font-family: $font-main;
    box-sizing: border-box;
}

.footer__title--font {
    font-family: $font-logo;
    color: white;
    background-color: black;
}

ul {
    list-style: none;

    li {
        padding: 0;
    }
} 

