/* || TYPOGRAPHY ||  */

* {
    font-family: $font-main;
    font-size: 1rem;
    line-height: 1.2em;  
    margin: 0;

    h1, h2 {
        font-weight: 700;
        font-size: rem(24);
    }

    h3 {
        font-family: $font-logo;
        font-weight: 400;
        font-size:rem(18);
    }

    h4 {
        font-weight: 500;
        font-size:rem(18);
    }

    p {
        font-weight: 300;
        line-height: 1.5em; /* For accessibility */

        &[class="discovery__subtitle"] {
            font-size: rem(18);
            line-height: 1.2em;
            color: $grayscale-1;
        }

        &[class="explanation__text"] {
            font-weight: 500;
            line-height: 1.2em;
        }

        /* font-size: rem(15.05); */
    }
}

span {
    &[class="explanation__circle"] {
        color: $color-font_explanation-circle;
        font-size: rem(12);
        font-weight: 500;
    }

}



a {
    text-decoration: none;
    color: $color-font__main;

    &[class^="auxiliary-menu"] {
        color: $color-font__footer;
    }   
}

ul, li {
    list-style: none;
    padding: 0;
} 


