
@function rem($value_px, $font-size_ref: 16) {
    $result_rem: calc(($value_px * 1) / $font-size_ref)+rem;
    @return $result_rem
}

@function height_mm-to-vw($measured-height, $widht-screen-ref: 220) {
    $result_height-vw: calc(($measured-height * 100) / $widht-screen-ref)+vw;
    @return $result_height-vw
}

@function height_mm-to-vmin($measured-height, $widht-screen-ref: 220) {
    $result_height-vmin: calc(($measured-height * 100) / $widht-screen-ref)+vmin;
    @return $result_height-vmin
}





// Select the unit of length, then transform it into em

@function select-unit-lenght_to-em($value) {
    
    @if @debug list.index( $value, rem) == 2


    
    
    $result_value-to-em: ;
    @return $result_value-to-em
}

@mixin font-size-and-height_btn-order($value-rem: 2 ) {
  
    @if $value-rem {
        font-size: $result_value-to-em;
        height: ;
    }

    @else $value-rem{
    
    }

    @else $value-px{
        font-size: rem( $font-size_order-btn );
        height: ;
    }
}

