
/***** MARGIN | PADDING | GAP  *****/

/*** SECTIONS ***/
$padding_section-mobile: calc(2em + 2vw) calc(1rem + 1.5vw) calc(3em + 2vw) calc(1rem + 1.5vw); // MOBILE
$padding_section-tablet: calc(1em + 1vw) calc(((100% - 750px) / 2) + 1rem) ; // TABLET
$padding_section-desktop: 3em height_mm-to-vw(32 , 253); // DESKTOP
$padding_section-desktop-xxl: 3em 8%; // DESKTOP XXL

/*** FOOTER  ***/

$padding_footer-mobile: calc(1em + 1vw) calc(1rem + 1.5vw); // MOBILE
$padding_footer-tablet: calc(1em + 1vw) calc(((100% - 750px) / 2) + 1rem); // TABLET
$padding_footer-desktop: 2em 2rem; // DESKTOP



/***** FONT & COLOR *****/

/*** FONT ***/

$font-logo: Shrikhand;
$font-title-restaurants: Shrikhand;
$font-main: Roboto;

/*** COLOR ***/

// LIGHT
$color-dark-main: black; 
$color-light-main: white;

// DARK
$color-dark-main_dark: lighten(black , 20%) ;
$color-light-main_dark: darken(white, 20%);

// LIGHT
$grayscale_ref: gray;
$grayscale-1: darken($grayscale_ref, 29.5%);
$grayscale-2: darken($grayscale_ref , 0.8%);
$grayscale-3: lighten($grayscale_ref , 41.5%);
$grayscale-4: lighten($grayscale_ref , 46.7%);


// LIGHT
$color-primairy: #9356DC;
$color-secondary: #FF79DA; 
$color-primairy-to-secondary: linear-gradient($color-primairy, $color-secondary);
$color-secondary-to-primairy_h: linear-gradient(.25turn, $color-secondary, $color-primairy);
$color-secondary-to-primairy: linear-gradient(.49turn, $color-secondary, $color-primairy);
$color-tertiary: #99E2D0;
$color-tertiary-font:  darken(#008766, 6%); // 6%
$color-dark-blue: #003A68;
$color-light-blue: #89C8FA;





/*** FONT COLOR ***/

// LIGHT
$color-font-logo__header: $color-dark-main;
$color-font__main: $color-dark-main;
$color-font-order-btn: $color-light-main;
$color-font_explanation-circle: $color-light-main;
$color-font_thumbnail-new: $color-tertiary-font;
$color-font__cards-opacity: $color-light-main;
$color-font__footer: $color-light-main;
$color-font-research: $grayscale-1;

$color-caret-research: $color-primairy;

$color-icons_explanation-drab: $grayscale-2;
$color-icons_explanation-bright: $color-primairy;
$color-icons-heart-unlike: $color-dark-main;
$color-icons-heart-like: $color-primairy-to-secondary;
$color-underline_menu-restaurants: $color-tertiary;
$color-icons_menu-restaurants-selected: $color-light-main;

/*** BACKGROUND COLOR ***/

// LIGHT
$color-background_main: $color-light-main;
$color-background_header: $color-light-main;
$color-background_find-a-place: $grayscale-3;
$color-background_discovery: $grayscale-4;
$color-background_explanation: $color-light-main;
$color-background_restaurants: $grayscale-4;
$color-background_restaurants-cards: $color-light-main;
$color-background_restaurants-menu-selected: $color-tertiary;
$color-background_thumbnail-new: $color-tertiary;
$color-background_footer: $grayscale-1;


/***IMG RESTAURANTS ***/

$img-header_menu-restaurants:"./assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg" ;

