/* || FONCTIONNEMENT / EXPLANATION || */

$circli-size: 1.35rem;

.explanation {
    background-color: $color-background_explanation;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    @include padding_section;

    &__all-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2em;
        flex-direction: column;
        user-select: none;
        @media (min-width: 768px) {
            flex-direction: column;
        
            @media (min-width:1024px) {
                flex-direction: row;
            }
        }
    }

    &__card {
        @include cards;
        align-items: center;
        background: $color-background_discovery;
        height: 4em;
        @media (min-width: 768px) {
       
            @media (min-width:1024px) {
                //max-width: 100%;
                //width: initial;
                //width: calc(22em + 1vw);
                max-width: calc((100% / 2) - 1em);
                min-width: calc((100% / 3) - 1.5em);
            }
        }

        [class$="circle"] {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-primairy;
            border-radius: 50%;
            height: $circli-size;
            width: $circli-size;
            margin-left: calc($circli-size / -2);
        }

        i {
            color: $color-icons_explanation-drab;
            
            
            /* &[class*="store"] {
                color: $color-icons_explanation-bright;
            } */
            
            margin-left: 1em;
            width: 2em;
            @media (min-width:1024px) {
                margin-left: calc(0.5em + 0.25vw);
                width: initial;
            }
        }

        &:hover > i {
            color: $color-icons_explanation-bright;
        }

        [class$="text"] {
            @media (min-width:1024px) {
                margin: 0 calc(0.25em + 0.25vw);
            }
        }

    }
}



