/* || FIND A PLACE || */


$font-size_research: rem(16); 

/* main:hover label div {
    visibility: collapse; 
}   */     


.find-a-place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: $color-background_find-a-place;
    @include background_find-a-place;
    height: calc(3 * $font-size_research);
    width: 100%;
    white-space: nowrap;     

    & form {
        display: flex;       
        align-items: center;
        justify-content: center;
        margin-bottom: 1.1em;
        & span[class="research-1"] {
            transition: all 1.25s 0.1s ease-in-out;
        }
        .find-a-place__location-icon:active{
            transform-origin: bottom center;
            animation-name: balloon;
            animation-duration: 3s;
           
            & + label {
                animation-name: input-slide;
                animation-duration: 2.4s;
                animation-delay: 1.2s;
            }
        }
    }
    &__location-icon {
        font-size: 1rem;
        margin-right: 0.25em;
    }

    //&__research / input 
    input {
        font-family: $font-main;
        font-size: $font-size_research;
        font-weight: 500;
        //color: $color-font-research;
        @include font-research;
        caret-color: $color-caret-research;
        border: none;
        background-color: transparent;
        height: 1.5em;
        width: 8rem;
        padding-left: 0.25em;
        transition: background 0.5s ease-in-out;
        /* &:focus {
            background: lighten($color-primairy, 35%);
        } */
    }  
    &__thumbnail {
        opacity: 1;  
        isolation: isolate;          
        position: absolute ;
        z-index: 5;
        top: 10rem;
        left: 2%;
        max-width: 96%;
        width: fit-content ;
        @media (min-width: 768px) {
            top: 1%;
            left: 10%;
            max-width: 80%;
            @media (min-width:1024px) {
                top: 2%;
                left: 20%;
                max-width: 60%;
            }
        }
        @include flex-column;
        align-items: flex-start;
        justify-content: center;
        border-radius: 0.25rem;
        //background: $color-secondary;
        @include background_order-btn;     
        padding: 1em 0.5em;
        align-items: center;
        span {
        @include flex-row;
        //border-radius: 50%;
        white-space: pre-line;          
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5em;
        padding: 0 0.25em;
        //color: $color-light-main_less-contrast;
        @include font_order-btn;
    }         
       
    }      
    label:not(:focus-within) span {
        opacity: 0;  
    }
   /*  label:hover div {
        visibility: collapse; 
    } */
    
    .balloon-dot {
        position:relative;
        right: 4.3em;
        top: 0.4em;
        opacity: 0;
        //visibility: hidden;
        transition: opacity 0.1s 3s ease-in-out; 
        transition: transform 8s 3s ease-in-out; 

        &__1 {
            margin-right: -0.6em;
            color: red;
        }
        &__2 {
            margin-right: -0.2em;
            color: orangered;
        }
        &__3 {
            margin-right: -0.2em;
            color: orange;
        }
        &__4 {
            margin-right: -0.2em;
            color: yellow;
        }
        &__5 {
            margin-right: -0.2em;
            color: yellowgreen;
        }
        &__6 {
            margin-right: -0.2em;
            color: green;
        }
        &__7 {
            margin-right: -0.2em;
            color: turquoise;
        }
        &__8 {
            margin-right: -0.2em;
            color: lightblue;
        }
        &__9 {
            margin-right: -0.2em;
            color: blue;
        }
        &__10 {
            margin-right: -0.2em;
            color: darkblue;
        }
        &__11 {
            margin-right: -0.2em;
            color: rebeccapurple;
        }
        &__12 {
            margin-right: -0.2em;
            color: blueviolet;
        }
        
    }
    &:active {        
        .balloon-dot {
            position:relative;
            right: 4.3em;
            top: 0.4em;
            opacity: 0;
                                 
            &__1 {
                margin-right: -0.6em;
                transform: translate(-4rem, 2rem);
                color: red;
            }
            &__2 {
                margin-right: -0.2em;
                transform: translate(-3rem, 2rem);
                color: orangered;
            }
            &__3 {
                margin-right: -0.2em;
                transform: translate(-2rem, 2rem);
                color: orange;
            }
            &__4 {
                margin-right: -0.2em;
                transform: translate(-1rem, 2rem);
                color: yellow;
            }
            &__5 {
                margin-right: -0.2em;
                color: yellowgreen;
            }
            &__6 {
                margin-right: -0.2em;
                color: green;
            }
            &__7 {
                margin-right: -0.2em;
                color: turquoise;
            }
            &__8 {
                margin-right: -0.2em;
                color: lightblue;
            }
            &__9 {
                margin-right: -0.2em;
                color: blue;
            }
            &__10 {
                margin-right: -0.2em;
                color: darkblue;
            }
            &__11 {
                margin-right: -0.2em;
                color: rebeccapurple;
            }
            &__12 {
                margin-right: -0.2em;
                color: blueviolet;
            }
        }
    }
}   

