/* || FIND A PLACE || */

$font-size_research: rem(16); 

.find-a-place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: $color-background_find-a-place;
    @include background_find-a-place;
    height: calc(3 * $font-size_research);
    width: 100%;
    white-space: nowrap;
    
    & form {
        display: flex;       
        align-items: center;
        justify-content: center;
        margin-bottom: 1.1em;
        & span[class="research-1"] {
            transition: all 1.25s 0.1s ease-in-out;
        }
        label:active{
            transform: scale(3.3);    
            transition: transform 1.6s cubic-bezier(.68,0,.05,.19);
            span[class="location"] {
                transition: opacity 0.15s 1.95s ease-out;
                opacity: 0;
            }        
            i { 
                transition: transform 1.25s 0.8s cubic-bezier(.88,.71,0,.92);
                transform: scale(2.6, 0.75);               
            }
            & + span[class="research-1"]{
                transition: all 1.25s 1.125s cubic-bezier(.85,.5,1,-0.30);
                transform: translate(60vw, 0);  
            }
        }
    }
    &__location-icon {
        font-size: 1rem;
        margin-right: 0.5em;
    }
    &__research {
        font-family: $font-main;
        font-size: $font-size_research;
        font-weight: 500;
        //color: $color-font-research;
        @include font-research;
        caret-color: $color-caret-research;
        border: none;
        background-color: transparent;
        height: 1.5em;
        width: 8rem;
        padding-left: 0.5em;
        transition: background 0.5s ease-in-out;
        &:focus {
            background: lighten($color-primairy, 35%);
        }
    }  
}

.balloon-dot {
    position:relative;
    right: 4.2em;
    top: 0.4em;
    opacity: 0.2;
    > :hover{
        opacity: 1;
    }      
    &__1 {
        margin-right: -0.6em;
        color: red;
    }
    &__2 {
        margin-right: -0.2em;
        color: orangered;
    }
    &__3 {
        margin-right: -0.2em;
        color: orange;
    }
    &__4 {
        margin-right: -0.2em;
        color: yellow;
    }
    &__5 {
        margin-right: -0.2em;
        color: yellowgreen;
    }
    &__6 {
        margin-right: -0.2em;
        color: green;
    }
    &__7 {
        margin-right: -0.2em;
        color: turquoise;
    }
    &__8 {
        margin-right: -0.2em;
        color: lightblue;
    }
    &__9 {
        margin-right: -0.2em;
        color: blue;
    }
    &__10 {
        margin-right: -0.2em;
        color: darkblue;
    }
    &__11 {
        margin-right: -0.2em;
        color: rebeccapurple;
    }
    &__12 {
        margin-right: -0.2em;
        color: blueviolet;
    }
}