/* || FOOTER || */

.auxiliary-menu {
    display: flex;
    flex-direction: column;
    background-color: $color-background_footer;
    color: $color-font__footer;
    /* align-items: center; */
    /* text-align: center; */
    padding: $padding_footer-mobile;
    gap: 1em;

    /* nav {
        flex: auto;
    } */

    &__all {
        display: flex;
        /* flex: auto; */
        flex-direction: column;
        gap: 0.5em;
        /* white-space: nowrap; */
        /* overflow: hidden; */
        /* text-overflow: ellipsis; */
       /*  max-width: 90%; */
    }
    
    &__partnership, &__support{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        white-space: nowrap;
        /* overflow: hidden; */
        /* text-overflow: ellipsis; */
        /* min-width: 10%; */
        
    }

    &__icon {
         width: 2em;
    }
}


