/* || FOOTER || */

.auxiliary-menu {
    display: flex;
    flex-direction: column;
    background-color: $color-background_footer;
    color: $color-font__footer;
    width: 100%;    
    @include padding_footer;
    gap: 1em;
    @media (min-width: 768px) {
           
        @media (min-width:1024px) {
            align-items: end;
            height: 7rem;
            flex-direction: row-reverse;
            gap: 6rem;
        }
    }

    

    &__all {
        display: flex;
        /* flex: auto; */
        flex-direction: column;
        gap: 0.5em;
        /* white-space: nowrap; */
        /* overflow: hidden; */
        /* text-overflow: ellipsis; */
       /*  max-width: 90%; */
        @media (min-width: 768px) {
           
            @media (min-width:1024px) {
                flex-direction: row;
                gap: 3em;
            }
        }
    }
    
    &__partnership, &__support{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        white-space: nowrap;
        /* overflow: hidden; */
        /* text-overflow: ellipsis; */
        /* min-width: 10%; */ 
        @media (min-width: 768px) {
           
            @media (min-width:1024px) {
                flex-direction: row;
                gap: 1.5em;
                
                a {
                    display: flex;
                    gap: 0.5em;
                }
            }
        }
    }

    &__icon {
        width: 2em;
        @media (min-width: 768px) {
           
            @media (min-width:1024px) {
                width: initial;
            }
        }
    }
}


