/* || FOOTER || */

.auxiliary-menu {
    display: flex;
    flex-direction: column;
    //background-color: $color-background_footer;
    @include background_footer;
    //color: $color-font__footer;
    @include font_footer;
    width: 100%;    
    @include padding_footer;
    gap: 1em;
    @media (min-width: 768px) {
           
        @media (min-width:1024px) {
            align-items: end;
            height: 7rem;
            flex-direction: row-reverse;
            gap: 3rem;
        }
    }   

    &__all {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        @media (min-width: 768px) {
           
            @media (min-width:1024px) {
                flex-direction: row;
                gap: 2em;
            }
        }
    }
    
    &__link{
        display: flex;
        flex-direction: row;
        gap: 0;
        white-space: nowrap;
        @media (min-width: 768px) {
           
            @media (min-width:1024px) {
                flex-direction: row;
                gap: 1em;
                
                a {
                    display: flex;
                    gap: 0;
                }
            }
        }
    }


    /* &__partnership, &__support {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        white-space: nowrap;
        @media (min-width: 768px) {
           
            @media (min-width:1024px) {
                flex-direction: row;
                gap: 1.5em;
                
                a {
                    display: flex;
                    gap: 0.5em;
                }
            }
        }
    } */

    &__icon {
        width: 2em;
        @include font_footer; 
        @media (min-width: 768px) {
           
            @media (min-width:1024px) {
                width: initial;
            }
        }
    }
}


