


header {
    display: flex;
    flex-direction: column;
    margin: 2vmin 0 ;
    
    
}


nav, div, img {
    display: flex;
}

header div {
    flex: auto;
    justify-content: center;
}

// height: 6vmin;
//header img {
//    //@include height-mobile ;
//    
//}




header nav {
    flex: auto;
    justify-content: flex-start ;
    align-items: center;
    vertical-align: middle;
    font-size: 1em;
    height: 6vmin;
    margin-top: -6vmin;
}


// <i class="fa-solid fa-arrow-left"></i> */
// mobile
// font-size: 30px;
// desktop
// width: 200px;
// height: 34.2px;
 

