/* || HEADER || */

$default-height-for-olde-brothers: rem(30);
$logo-height: clamp(1.5rem , height_mm-to-vmin(12) , rem(34)); // or 30px

.visual-identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background-color: $color-background_header;
    @include background_header;
    height: 113px;
    width: 100%;
    height: calc($logo-height * 3);
 
    &__master-logo {
        display: flex;
        justify-content: center;
       /*  height: $default-height-for-olde-brothers; */ /* For old brothers */
        /* height: $logo-height; */
        img {
            height: $default-height-for-olde-brothers; /* For old brothers */
            height: $logo-height;
            @include font-logo_img-header;
        }
    }

    &__back-arrow {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-left: 1em;
        height: $default-height-for-olde-brothers; /* For old brothers */
        height: $logo-height;
        margin-top: -$default-height-for-olde-brothers; /* For old brothers */
        margin-top: calc($logo-height * -1); // Up arrow in the center of logo
                
        & a {
            justify-content: center;
            transition: all 0.3s ease-in-out;
            border-radius: 50%;
            height: 1rem;
            width: 1rem;
            &:hover {
               transform: scale(1.2);
               & i {
                    transition: all 0.3s 0.1s ease-in-out;
                    transform: translatex(-0.25em);
               }
            }            
        }   
        
        &--hidden {
            visibility: hidden;
        }
    }
}
