/* || HEADER || */

$default-height-for-olde-brothers: rem(30);
$logo-height: clamp(1.5rem , height_mm-to-vmin(12) , rem(34)); // or 30px

.visual-identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-background_header;
    height: 113px;
    height: calc($logo-height * 3);
 
    &__master-logo {
        display: flex;
        justify-content: center;
        height: $default-height-for-olde-brothers; /* For old brothers */
        height: $logo-height;
    }

    &__back-arrow {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1rem;
        margin-left: 1em;
        height: $default-height-for-olde-brothers; /* For old brothers */
        height: $logo-height;
        margin-top: -$default-height-for-olde-brothers; /* For old brothers */
        margin-top: calc($logo-height * -1); // Up arrow in the center of logo

        &--hidden {
            visibility: hidden;
        }
    }
}

// Header
//height: 113px;

// logo ohmyfood 
// mobile font-size: 30px;
// desktop height: 34.2px;
