
/* .header__menu-restaurants {
    content: url($img-header_menu-restaurants);
    max-width: 100%;
    width: 100vw;
    max-height: calc(( max-width / 3) * 2);
    height: calc((100VW / 3) * 2);
    object-fit: cover;
} */
