/* || LOADER || */

body {
    position: relative;
    z-index: 0;
    top:0;
    //right: 0;
}

.loader {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    //transform-origin: 50% 50%;
    animation: loader-kf 0.25s 5s ;
    animation-fill-mode: both;
    

    [class*="background"] {
        //opacity: 0;
        animation-name: opacity;
        animation-fill-mode: both;
        animation-duration: 0.75s;
        animation-delay: 4.25s;
        //transition: opacity 2s 3s ease-in-out;      
        
    }

    &__background {
        position: absolute;
        z-index: 11;
        top: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;               
        opacity: 1;
        &-top {   
            z-index: 11;  
            height: 40vh;
            width: 100%;      
            background: $color-light-main;
            //background: yellowgreen;
            opacity: 1;
        }

        &-middle {
            position: relative;
            display: flex;
            flex-direction: row;
            flex: initial;            
            margin: -2px;

            &-left {   
                position: relative;
                z-index: 11;
                flex: auto;  
                height: 20vw;
                max-height: 220px;
                width: 100%;
                background: $color-light-main;
                //background: blue;
                opacity: 1;
            }

            &-center {
                z-index: 11;
                height: 20vw;
                width: 100%;
                max-height: 220px;
                opacity: 1; 
                margin: -1px;

                [class*=progress-bar] {
                    position: absolute;
                    z-index: 11;
                    height: 19.8vw;
                    max-height: 220px;
                    max-width: 1340px;
                    width: 100%;
                    background: $color-secondary-to-primairy_h;
                }
                > [class*="progress-bar"] {        
                    transform-origin: 100% 50%;
                    animation-name: progress-bar-kf;
                    animation-fill-mode: both;
                    animation-duration: 2.75s;
                    animation-delay: 1.5s;
                    //transition: opacity 0.2s 2.8s ease-in;
                    //opacity: 0;
                }   
            
                img[src*="restaurant"] {
                    z-index: -1;
                    position: absolute;
                    object-fit: cover;  
                    width: 100%;
                    max-width: 1340px;     
                    height: 100%;
                    
                    //opacity: 0;  
                    //margin-top: -0.25rem;
                    
                    
                    @media (min-width: 768px) {
                        //margin-top: -0.5rem;
            
                        @media (min-width:1024px) {
                            //margin-top: -1rem;
                        }
                    }                 
                } 
                > [src*="restaurants"] {      
                    animation-name: opacity;
                    animation-fill-mode: both;
                    animation-duration: 0.75s;
                    animation-delay: 4.25s;        
                }
            
                .nocolor {
                    z-index: 13;
                    position: relative;       
                    height: 20vw;
                    max-height: 220px;
                    max-width: 1340px;
                    flex: initial;
                    opacity: 1;     
                    margin-left: -3px;                
                }     
                [class*="nocolor"] {
                    animation-name:  opacity;
                    animation-fill-mode: both;
                    animation-duration: 0.75s;
                    animation-delay: 4.25s;
                }
            }       

            &-right {   
                position: relative;
                z-index: 11;  
                flex: auto;
                height: 20vw;
                max-height: 220px;
                width: 100%;
                background: $color-light-main;
                //background: red;
                opacity: 1;
                margin-left: -3px;
            }        
        }

        &-bottom {
            z-index: 11;
            flex: auto;
            background: $color-light-main;
            //background: yellow;
        }
    } 
}

@keyframes progress-bar-kf{
    0% {
        transform: scalex(1);        
    }
    33% {
        transform: scalex(0.85);        
    }
    66% {
        transform: scalex(0.33);        
    }
    75% {
        transform: scalex(0.23);        
    }
    85% {
        transform: scalex(0.23);        
    }
    100% {
        transform: scalex(0);
    }
}

@keyframes loader-kf{
    0% {
        transform: scale(1);       
    }

    100% {
        transform: scale(0);
    }
}

@keyframes opacity{
    0% {
        opacity: 1;       
    }

    100% {
        opacity: 0;
    }
}

