/* STYLE RESTAURANTS */

.menu-restaurants__img-top {   
    padding: 0;    
    max-width: 100%;
    width: 100vw;        
    max-height: calc(( max-width / 3) * 2);
    height: calc((100VW / 3) * 2);
    object-fit: cover;
    background-size: cover;  

    &-1 {
        background-image: url(./assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    }
    &-2 {
        background-image: url(./assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    }
    &-3 {
        background-image: url(./assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    }
    &-4 {
        background-image: url(./assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    }
}

.name-restaurants {
    position: relative; 
    z-index: 5;   
    @include flex-row;
    justify-content: space-between;    
    margin-bottom: 1em;
    @media (min-width: 768px) {
        margin: 1em 0;
        @media (min-width:1024px) {
            justify-content: center;
            margin-top: 0;
        }
    }    
}

.menu-restaurants {
    position: relative;
    z-index: 20;
    @include flex-column;
    justify-content: center ;
    //background: $color-background_restaurants;
    @include background_restaurants;
    @include padding_section;
    max-width: 1055px;
    gap: 1em 4rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    margin-top: -3rem;

    &__all-meal { 
        @include flex-column;
        gap: 2rem 0;

        .entries, .main-course, .desserts {
            isolation: isolate;
            position: relative;
            z-index: 5;
            @include flex-column;
            gap: 1em 0;

            &__title-and-underline  {
                @include flex-column;
                align-items: start;

                [class$="underline"] {
                    //border-bottom: 3px solid $color-underline_menu-restaurants;
                    @include  color-underline_menu-restaurants;
                    width: 4ch !important;
                }
            } 

           &__cards {
                isolation: isolate;
                position:relative;
                z-index: -1;
                @include flex-row;
                justify-content: space-between;            
                @include cards;
                //background: $color-background_restaurants-cards;
                @include background_restaurants-cards;
                height: 100%;
                overflow: hidden;
                transition: opacity 0.75s ease-in-out;
                &:hover {
                    opacity: 0.80 !important;
                }          
                
                div {
                    @include flex-column;               
                    max-width: 80%;

                    &:nth-of-type(1) {
                        max-width: 80%;
                        overflow: hidden;                    
                    }

                    &:nth-of-type(2) {
                        flex: content ;                   
                    }
                
                    p {    
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    
                        &::after {
                        
                            display: inline-block;
                            max-width: 85%;
                            height: 100%;                        
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    } 

                    [class$="price"] {
                        display: flex;
                        justify-content: flex-end;                    
                        margin-bottom: -1em;
                        height: 100%;               

                        &::after { 
                            display: flex;
                            flex: auto;
                            justify-content: end;
                            align-items: end;            
                            height: 100%;
                            width: 100%;
                            padding-right: 1rem;
                            margin-bottom: -1em;  
                        }
                    }
                }
                
                input {
                    appearance: none;
                    position: absolute;
                    border-radius: 0.85rem;
                    opacity: 1;
                    height: 90%;
                    margin-left: 1.8%;                   
                    width: 96.6%;  
                    @media (min-width: 450px) {
                        margin-left: 1.2%;                   
                        width: 97.6%; 
                        @media (min-width: 768px) {
                            margin-left: 0.8%;                   
                            width: 98.2%;                       
                            @media (min-width:1024px) {
                                margin-left: 0.65%;                   
                                width: 98.6%;
                            }
                        }
                    }


                    &:focus-visible, &:-moz-focusring {
                        outline: 0.25rem solid $color-tertiary-font !important;
                    }
                }
                
                .menu-choice-selected:checked + [class$="menu-selected"] {
                    transform: translatex(0%);
                    margin: 0;
                    opacity: 1;
                }

                .menu-choice-selected:focus-visible + [class$="menu-selected"], .menu-choice-selected:-moz-focusring + [class$="menu-selected"], {
                    opacity: 1;
                    background: $color-tertiary-font;                   
                }

                .menu-choice-selected:checked:focus-visible + [class$="menu-selected"], .menu-choice-selected:checked:-moz-focusring + [class$="menu-selected"], {
                    transform: translatex(0%);
                    margin: 0;
                    opacity: 1;   
                    background: $color-tertiary-font;  
                }

                .menu-choice-selected:checked:focus:hover + [class$="menu-selected"], .menu-choice-selected:checked:focus:not(:focus-visible) + [class$="menu-selected"] {
                    transform: translatex(0%);
                    margin: 0;
                    opacity: 1;
                    background: $color-tertiary;
                }            
                
                [class$="menu-selected"] {
                    isolation: isolate;
                    mask-composite: add ;
                    position:relative;
                    z-index: 2;
                    right: 0;
                    @include flex-row;
                    flex: none;
                    //background: $color-background_restaurants-menu-selected;
                    @include  background_restaurants-menu-selected;
                    border-top-right-radius: 1.2rem;
                    border-bottom-right-radius: 1.2rem;
                    height: 100%;
                    //min-width: 5rem; 
                    width: 6rem; /* For old brothers who doesn't know clamp() */
                    width: clamp( 5rem, (100% / 6), 8rem);
                    //max-width: 8rem;
                    margin-right: 6rem; /* For old brothers who doesn't know clamp() */
                    margin-right: calc(-1 * clamp( 5rem, (100% / 6), 8rem));
                    transform-origin: 0%;
                    transition: all 0.75s 0.25s ease-in-out, opacity 1s ease-in-out, transform 1.5s 0.25s ease-in-out, border 0s;       

                    .material-symbols-outlined {
                        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
                        color: $color-icons_menu-restaurants-selected;
                        font-size: 2rem;
                        @include flex-row;
                        flex: content;
                        height: 100%;

                        &::after {
                            isolation: isolate;
                            position: relative;
                            z-index: -1;
                            @include flex-row;
                            flex: content;
                            height: 100%;
                            padding: 2rem 1rem;
                        }
                    }
                }

                div p::after { 
                    width: 100%;
                    padding-left: 1rem;
                }        
                [class$="heavy"]::after {
                    padding-top: 1rem;
                }    
                [class$="thin"]::after {
                   padding-bottom: 1rem;
                }                
            }
        }
    }
}   




