/* || MENU ACCESSIBILITY || */

.menu-accessibility {
    visibility:visible;
    opacity: 1;  
    isolation: isolate;          
    position: absolute ;
    z-index: -1;
    &:focus-within {
        z-index: 5;
    }
    top: 2%;
    left: 2%;
    max-width: 96%;
    width: fit-content;
    @include flex-column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 1.6rem;
    background: $color-dark-main_less-contrast;           
    padding: 1.5em 1em;
    li a{
        @include flex-column;
        border-radius: 0.6rem;
        white-space: pre-line;          
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.75em;
        padding: 0 0.25em;
        color: $color-secondary;
    }
    li .contrasts{
        letter-spacing: 0.25rem;
        color: $color-light-main_less-contrast;
        color: lightyellow;
        &:focus-visible, &:hover {
            color: yellow;
            outline-color: yellow !important; 
            outline-width: 0.25rem !important;
        }
    }
    &:not(:focus-within) {
        opacity: 0.2;
    }       
    outline: 0.3rem solid $color-secondary;
}

