/* STYLE RESTAURANTS */

.menu-restaurants__img-top {   
    padding: 0;    
    max-width: 100%;
    width: 100vw;        
    max-height: calc(( max-width / 3) * 2);
    height: calc((100VW / 3) * 2);
    object-fit: cover;
    background-size: cover;   
}

.name-restaurants {
    position: relative;
    @include flex-row;
    justify-content: space-between;
    €__title{
        margin-top: 1em;
    }
}

.menu-restaurants {
    @include flex-column;
    background: $color-background_restaurants;
    gap: 2rem 4em;
    padding: 2rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    margin-top: -3rem;

    .entries, .main-course, .desserts {
        @include flex-column;
        gap: 1em 0;

        &__title-and-underline  {
            @include flex-column;
            align-items: start;

            [class$="underline"] {
                border-bottom: 3px solid $color-underline_menu-restaurants;
                width: 4ch;
            }
        } 

        &__cards {
            position:relative;
            z-index: 2;
            @include flex-row;
            justify-content: space-between;            
            @include cards;
            background: $color-background_restaurants-cards;
            height: 100%;
           
            div {
                @include flex-column;      
                /* height: 100%; */
                /* justify-content: space-between;  */ 
                max-width: 80%;
                /* min-width: 0%; */

                &:nth-of-type(1) {
                    max-width: 80%;
                    /* white-space: nowrap; */
                    overflow: hidden;                    
                }

                &:nth-of-type(2) {
                    //background: lavenderblush ;
                    flex: content ;
                    /* width: 100%; */
                }
            
                p {
                    /* display: flex;
                    flex: auto; */
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    //white-space: nowrap;
                    //overflow: hidden;
                    //text-overflow: ellipsis;
    
                    &::after {
                       /*  display: flex;
                        flex: auto;
                        width: 99%; */
                        display: inline-block;
                        max-width: 85%;
                        height: 100%;                        
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                } 

                [class$="price"] {
                    display: flex;
                    justify-content: flex-end;
                    /* flex: auto; */
                    margin-bottom: -1em;
                    height: 100%;
                    //background: blue;                

                    &::after { 
                        display: flex;
                        flex: auto;
                        justify-content: end;
                        align-items: end;            
                        height: 100%;
                        width: 100%;
                        padding-right: 1rem;
                        //padding-bottom: 1em;
                        margin-bottom: -1em;
                        //background: lightblue;  
                    }
                }
            }
          
            &:hover [class$="menu-selected"] {
                cursor: pointer;
                //opacity: 1;
                transform: scale(1);
                margin: 0;
            }

            [class$="menu-selected"] {
                position:relative;
                z-index: 2;
                @include flex-row;
                flex: none;
                background: $color-background_restaurants-menu-selected;
                border-top-right-radius: 1.2rem;
                border-bottom-right-radius: 1.2rem;
                height: 100%;
                //min-width: 5rem;
                //width: calc(100% / 6);
                width: 8rem;
                max-width: 8rem;
                //margin-left: 2rem;
                margin-right: -8rem;
                //opacity: 0;
                transform-origin: 0% 50%;
                transform: scale(0);
                transition: all 1.5s 0.25s ease-in-out, opacity 1s ease-in, transform 1.5s 0.25s ease-in-out;       

                .material-symbols-outlined {
                    //position: relative;
                    //z-index: 4;
                    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
                    color: $color-icons_menu-restaurants-selected;
                    font-size: 2rem;
                    @include flex-row;
                    flex: content;
                    //border-top-right-radius: 1.2rem;
                    //border-bottom-right-radius: 1.2rem;
                    height: 100%;
                    //width: 100%;

                    &::after {
                        position: relative;
                        z-index: 5;
                        @include flex-row;
                        flex: content;
                        //border-top-right-radius: 1.2rem;
                        //border-bottom-right-radius: 1.2rem;
                        height: 100%;
                        //width: 100%;
                        padding: 2rem 1rem;
                        //background: palegreen;
                    }
                }
            }

            [class$="menu-selected"]::after {
                /* @include flex-row; */
            }

            div p::after { 
                
                width: 100%;
                //flex: auto;
                padding-left: 1rem;
                //background: red; 
            }        
            [class$="heavy"]::after {
                padding-top: 1rem;
                //background: yellow;
            }    
            [class$="thin"]::after {
               padding-bottom: 1rem;
               //background: greenyellow;
            }                
        }
    }
}




