/* || RESTAURANTS || */

.restaurants {
    background-color: $color-background_discovery;
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 1em;
    @include padding_section;

    &__all-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2em;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: column;        
            @media (min-width:1024px) {
                flex-direction: row;              
            }
        }        
    }

    &__card {
        @include cards;
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
        &:hover {
            [class$="card-comment"] {
                opacity: 0;
            }
            [class$="card-comment--opacity"] {
                opacity: 1;
            }
        }
        
        @media (min-width: 768px) { 
            @media (min-width:1024px) {
                max-width: 100%;
                width: initial;
                min-width: calc((100% / 2) - 1em);
            }
        }    

        a {
            display: flex;
            flex-direction: column;
            flex: auto;
            width: 100%;
        }

        img {
            z-index: 1;
            margin-top: -4em;
            border-radius: 1.2em 1.2em 0 0;
            border-bottom-right-radius: 1.2em;
            border-bottom-left-radius: 1.2em;           
            width: 100%;         
            height: height_mm-to-vmin(100);
            transition: all 0.4s ease-in-out;           

            @media (min-width: 768px) {
                height: height_mm-to-vmin(100);
            
                @media (min-width:1024px) {
                    height: calc(height_mm-to-vw(28, 253) + 4em + 4em);
                    /* max-height: 13rem ; */
                }
            }
        }

        &-comment {
            z-index: 2;
            position: absolute;
            bottom: 0em;
            display: flex;
            flex: auto;
            flex-direction: row;
            align-items: center;
            background-color: $color-background_main;
            border-bottom-right-radius: 1.2em;
            border-bottom-left-radius: 1.2em;
            width: 100%;
            padding: 0.5em 1em;
            transition: opacity 0.6s ease-in-out;

            [class$="text"] {
                flex: initial;
            }

            [class$="like"] {
                flex: auto;
                margin-right: 0.5em;
            }
        }
    }

    &__thumbnail-new {
        z-index: 3;
        position: absolute;
        top:1em;
        right: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-background_thumbnail-new; 
        color: $color-font_thumbnail-new;  
        padding: 0.25em 0.5em;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        transition: transform 0.4s 0.4s ease-in-out;        
    }
}   
    
main {
    :only-of-type [class$="thumbnail-new"] {
        //background-color: lightblue;
        @include anim_thumbnail-new;
        animation-delay:5.4s;        
    }
    :first-child > [class$="thumbnail-new"] {
        //background-color: orangered;
        @include anim_thumbnail-new;
        animation-delay:5.6s;        
    }
    :nth-of-type(0n+2) [class$="thumbnail-new"] {
        //background-color:orange;
        @include anim_thumbnail-new;
        animation-delay:5.2s;
    }
    :nth-of-type(0n+3) [class$="thumbnail-new"] {     
        //background-color: peru;
        @include anim_thumbnail-new;
        animation-delay:5.8s;
    }
    :nth-last-of-type(0n+3) [class$="thumbnail-new"] {       
        //background-color: pink;
        @include anim_thumbnail-new;
        animation-delay:6.2s;
    }
    :nth-last-of-type(0n+2) [class$="thumbnail-new"] {       
        //background-color: lightcoral;
        @include anim_thumbnail-new;
        animation-delay:5.3s;
    }
    :last-child > [class$="thumbnail-new"] {
        //background-color: palevioletred;
        @include anim_thumbnail-new;
        animation-delay:5.9s;
    }  
}  
   
@keyframes thumbnail-new-kf{

    0% {
        transform: scale(1) translate(0 0);       
    }

    33% {
        transform: scale(1.2) translate(-0.5rem, 0.25rem );
    }

    66% {
        transform: scale(1.25) translate(-0.5rem, 0.25rem );
    }

    100% {
        transform: scale(1) translate(0 0);
    }
}







