/* || RESTAURANTS || */

.restaurants {
    background-color: $color-background_discovery;
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 1em;
    @include padding_section;

    &__all-cards {
        /* background: red; */
        display: flex;
        /* flex: auto; */
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2em;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: column;
        
            @media (min-width:1024px) {
                flex-direction: row;              
            }
        }        
    }

    &__card {
        @include cards;
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
        &:hover {
            [class$="card-comment"] {
                opacity: 0;
            }
            [class$="card-comment--opacity"] {
                opacity: 1;
            }
        }
        
        @media (min-width: 768px) { 
            @media (min-width:1024px) {
                max-width: 100%;
                width: initial;
                //width: calc(22em + 1vw);
                min-width: calc((100% / 2) - 1em);
                /* height: 12.5em; */
            }
        }    

        a {
            display: flex;
            flex-direction: column;
            flex: auto;
            width: 100%;
        }

        img {
            z-index: 1;
            margin-top: -4em;
            border-radius: 1.2em 1.2em 0 0;
            border-bottom-right-radius: 1.2em;
            border-bottom-left-radius: 1.2em;
            /* flex: auto; */
            width: 100%;
            /* height: 12.5em; */
            /* height: 100%; */
            height: height_mm-to-vmin(100);
            /* height: calcl(height_mm-to-vmin(100) + 1em); */
            transition: all 0.4s ease-in-out;
            &:hover {
               /*  transform-origin: 50% 100%; */
               /*  transform: translate(0, -2rem); */           
            }
           

            @media (min-width: 768px) {
                height: height_mm-to-vmin(100);
            
                @media (min-width:1024px) {
                    height: calc(height_mm-to-vw(28, 253) + 4em + 4em);
                    /* max-height: 13rem ; */
                }
            }
        }

        &-comment {
            z-index: 2;
            position: absolute;
            bottom: 0em;
            display: flex;
            flex: auto;
            flex-direction: row;
            align-items: center;
            background-color: $color-background_main;
            border-bottom-right-radius: 1.2em;
            border-bottom-left-radius: 1.2em;
            width: 100%;
            padding: 0.5em 1em;
            transition: opacity 0.6s ease-in-out;
            /* &--opacity {
                z-index: 2;
                position: absolute;
                bottom: 0em;
                display: flex;
                flex: auto;
                flex-direction: row;
                align-items: center;
                border-bottom-right-radius: 1.2em;
                border-bottom-left-radius: 1.2em;
                width: 100%;
                padding: 0.5em 1em;
                background-color: none;
                color : $color-font__cards-opacity;
                opacity: 0;
                transition: opacity 0.6s ease-in-out;
                [class*="text"] {
                    background: transparentize($color: $color-background_footer, $amount: 0.6);
                    padding: 0.25em;
                    border-radius: 0.5em;
                }
            } */

            [class$="text"] {
                flex: initial;
            }

            [class$="like"] {
                flex: auto;
                margin-right: 0.5em;
            }
        }
    }

    &__thumbnail-new {
        z-index: 3;
        position: absolute;
        top:1em;
        right: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-background_thumbnail-new; 
        color: $color-font_thumbnail-new;  
        padding: 0.25em 0.5em;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        transition: transform 0.4s 0.4s ease-in-out;        
    }
    &__card:hover {
        & [class$="thumbnail-new"] {
            transform: scale(1.1);
        }
    }




}

/* [cards]:hover {
   
    background-color: none;
    color : $color-font__cards-opacity;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    [class*="text"] {
        background: transparentize($color: $color-background_footer, $amount: 0.6);
        padding: 0.25em;
        border-radius: 0.5em;
    }
} */








//position: absolute;
//width: 80px;
//height: 29px;
//box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
//border-radius: 2px;
